body,
p {
    font-family: 'Encode Sans', sans-serif;
}

body {
    font-size: 16px;
    color: #333;
    background: url('../images/background.gif') repeat;
}

.h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    line-height: 48px;
    font-weight: 600;
}

.container {
    background: #fff;
    border-radius: 20px;
    margin-top: 1em;
}

.rightCol {
    margin-left: 5%;
    margin-top: 3em;

}

.h2 {
    margin-bottom: 1em;
}

.collected {
    margin-top: 1em;
}

p {
  line-height: 21px;
}

.blue, .green, .orange {
    margin-right: 5%;
    display: none;
}

.modal {
    display: none;
}

/*__________________________________*/

        /* MODAL STYLES */
/*___________________________________*/

h5 {
    font-size: 1.2em;
}

.modal-header {
    border: none;
}

button.close {
    padding: 5px;
}
